metaServer.clientPort = {{ .Env.QFS_METASERVER_PORT }}
metaServer.chunkServerPort = {{ .Env.QFS_CHUNCKSERVER_SERVER_PORT }}
metaServer.logDir = {{ .Env.QFS_LOGS_DIR }}
metaServer.cpDir = {{ .Env.QFS_CHECKPOINT_DIR }}
metaServer.recoveryInterval = 30
metaServer.clusterKey = {{ .Env.QFS_CLUSTER_KEY }}
metaServer.msgLogWriter.logLevel = INFO
chunkServer.msgLogWriter.logLevel = NOTICE
metaServer.rootDirMode = 0777
metaServer.rootDirGroup = 1000
metaServer.rootDirUser = 1000

metaServer.rebalancingEnabled = 1
metaServer.maxRebalanceSpaceUtilThreshold = 0.50
metaServer.minRebalanceSpaceUtilThreshold = 0.45
